.wrapper{
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    background-color: #fff;
}

$opacity-see-more: 0;

.search-list_result {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid;
}

.content {
    align-items: center;
    padding-top: 60px;
    height: 100%;
    padding: 0px 24px;
    width: 1150px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.search {
    width: 377px;
    padding-right: 8px;
    padding-left: 8px;
}

.search-form {
    width: 361px;
    height: 46px;
    background-color: rgba(22, 24, 35, .06);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-radius: 92px;
    font-size: 14px;
    position: relative;
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
    .search-input:not(:placeholder-shown) ~ .btn-search {
        color: #000;
    }
}

.search-input {
    outline: none;
    line-height: 22px;
    font-size: 16px;
    height: 100%;
    flex: 1;
    border: none;
    background-color: transparent;
    caret-color: rgba(254, 44, 85, 1);
} 

.search-clear {
    border: none;
    color: rgba(22, 24, 35, 0.34);
    margin: 0px 12px;
    font-size: 14px;
}

.search-spinner {
    display: none;
}

.span-splitter {
    margin: -3px 0px;
    height: 28px;
    width: 1px;
    background-color: rgba(22, 24, 35, .12);
}

.btn-search {
    font-size: 20px;
    color: rgba(22, 24, 35, 0.34);;
    padding: 22px 16px 22px 16px;
    height: 100%;
    border: none;
    margin: -11px -16px -11px 0px;
    display: flex;
    align-items: center;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-weight: 100px;
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }
}

.action {
    display: flex;
    width: 273.63px;
}

.wrapper-list {
    position: absolute;
    margin: 29px 6px;
}

.padding-list {
    height: 10px;
    width: 361px;
    background-color: #fff;
}


