.wrapper {
    display: flex;
    align-items: center;
    // justify-content: center;
}

.back-language {
    font-size: 15px;
    padding: 10px 45px 10px 31px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.text {
    flex: 1;
}